# Ignore binary file.
/build/nishiki

# Ignore build cache files.
/build/external
/build/objects
/build/nishiki

# Ignore test outputs.
/tests/external
/tests/objects
/tests/run_nishiki
/tests/test_nishiki
/tests/lcov
/tests/lcov.info

# Ignore Python's virtual environment.
venv
.venv
